@model ISSZnidar.Web.Models.Predmet

@{
    ViewData["Title"] = "Podrobnosti";
}

<h2>Podrobnosti</h2>

<div>
    <h4>Predmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PredmetId">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
