@{
    ViewData["Title"] = "O Urnikih";
}
<div>
    <h2>@ViewData["Title"].</h2>

    <p>
        Spletna aplikacija omogoča pregled in urejanje šolskega urnika.<br />
        Omogoča prikaz seznama, dodajanje, urejanje in brisanje predmetov. <br />
        Aplikacija je narejena s pomočjo ASP.NET Core MVC tehnologije.
    </p>


        <h2>Predmeti</h2>
        <p>Aplikacija omogoča:</p>
        <ul>
            <li> Prikaz seznama predmetov </li>
            <li> Dodajanje </li>
            <li> Urejanje </li>
            <li> Prikaz podrobnosti </li>
            <li> Brisanje </li>
        </ul>


        <h2>Termini</h2>
        <p>Aplikacija omogoča:</p>
        <ul>
            <li> Prikaz seznama vseh terminov </li>
            <li> Dodajanje </li>
            <li> Urejanje </li>
            <li> Prikaz podrobnosti </li>
            <li> Brisanje </li>
        </ul>

</div>

