@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Marko Žnidar<br />
    Vpisna št. 11100190224 <br />
    Informatika - kombinirano <br />
    1. Letnik <br />
    Višja strokovna šola
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">marko.znidar@net.doba.si</a><br />
</address>
